<%
meta title: "About Us",
     description: "ConfessBin about us page"
%>
<div class="container about">
<h2>About ConfessBin:</h2>
<br/>
<p>Confessbin provides you a platform to share all your confessions anonymously. At some point, you have to let it out to let it all go. No one would ever know what you’ve posted as it is completely anonymous. </p> 
<p>It’s finally the time to share all your deep dark thoughts to the world knowing the fact that no one is going to judge you. You are also welcome to share your comments on other’s confessions. </p><p>Include #hashtags in your confessions, and they automatically appear under the appropriate tags section. In case you’re bored and if you wanna have some fun, browse through the list of tags/search for a particular keyword and enjoy reading hilarious confessions on ConfessBin. </p>
</div>