<%
meta title: "Contact Us",
     description: "ConfessBin contact us page"
%>
<div class="container">
<h2>Contact Us:</h2>

<p>We’d love to hear from you. Tell us what’s on your mind and we’ll respond once we get to it. </p>

<p>
Email: ankit@inzak.com<br/>
Contact name: Ankit S<br/>
Address: Koramangala, Bangalore – 560034<br/>
Contact number: (US) +1 415 670 9239 , (IN) +91 963 264 1012<br/>
</p>
</div>