<div class="container" id="container">
  <br/><br/>
  <section id="demo">
    <% @secrets.each do |s| %>
    <article class="white-panel">
      <p class="secret-content"><%= s.description %></p>
      <p class="comment-count"><%= s.comments.count %> Comments</p>
      <div class="row soc-share text-right">
        <a href="#" class="icon-link text-center">
          <span class="icon-container">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icon-container">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icon-container">
            <i class="fa fa-google"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icon-container">
            <i class="fa fa-pinterest"></i>
          </span>
        </a>
      </div>
    </article>
    <% end %>
  </section>
</div>


<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">POST A SECRET !</h4>
      </div>
      <div class="modal-body">
        <%= form_for Secret.new do |f| %>
        <textarea name="description" class="form-control secret-input" rows="6" placeholder="Write Your Confession"></textarea><br/>
        <input type="submit" class="btn btn-info"/>
        <% end %>
      </div>
    </div>
  </div>
</div>