<%
meta title: "Funny Confessions",
     description: "Anonymous and funny confessions to read"
%>
<div class="container" id="container">
  <br/><br/>
  <section id="demo">
    <% @secrets.each do |s| %>
    <article class="white-panel">
      <a href="<%=secret_path(s)%>"><p class="secret-content"><%= s.description %></p>
      <p class="comment-count"><%= s.comments.count %> Comments</p>
      <p class="comment-count">Posted <%= time_ago_in_words(s.created_at) %> ago</p></a>
      <div class="row soc-share text-right">
        <a href="#" class="icon-link text-center">
          <span class="icon-container">
            <i class="fa fa-facebook"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icon-container">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icon-container">
            <i class="fa fa-google"></i>
          </span>
        </a>
        <a href="#" class="icon-link text-center">
          <span class="icon-container">
            <i class="fa fa-pinterest"></i>
          </span>
        </a>
      </div>
    </article>
    <% end %>
  </section>
</div>
