<div class="container" id="container">
	<div class="col-md-3"></div>
	<div class="col-md-6 text-center">
		<input type="button" class="btn btn-info post-btn" value="POST A SECRET !"/>
	</div>
  <br/><br/>
  <section id="demo">
    <% @secrets.each do |s| %>
      <article class="white-panel">
        <p><%= s.description %></p>
        <p><%= s.comments.count %> Comments</p>
        <p><%= social_share_button_tag(s.title, :url => "http://www.confessbin.com/secrets/#{s.id}") %></p>
      </article>
    <% end %>
  </section>
</div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">POST A SECRET !</h4>
            </div>
            <div class="modal-body">
              <%= form_for Secret.new do |f| %>
                <textarea name="description" class="form-control secret-input" rows="6" placeholder="Write Your Confession"></textarea><br/>
                <input type="submit" class="btn btn-info"/>
              <% end %>
            </div>
        </div>
    </div>
</div>