<%
meta title: "Privacy Policy",
     description: "ConfessBin privacy policy page"
%>
<div class="container"><br/>
<h2>Confessbin - Privacy Policy</h2>

<p>This document was last updated on February 23, 2015 </p>

<p>
	This Privacy Policy governs the manner in which ConfessBin collects, uses, maintains and discloses information collected from users (each, a "User") of the www.confessbin.com website ("Site"). This privacy policy applies to the Site and all products and services offered by ConfessBin.
</p>

  <h3>Personal identification information  </h3>

<p>We do not collect any personal identification information from users who post confessions but We may collect personal identification information from Users for other purposes, including, but not limited to, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information.</p>

  <h3>Web browser cookies  </h3>

<p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.   </p><br/>

<h3>Sharing your personal information </h3>

<p>We do not collect any of your personal information for posting confessions and do not share any other contact queries.   </p><br/>

<h3>Third party websites  </h3>

<p>Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.  </p><br/>

<h3>Google Adsense  </h3>

<p>Some of the ads may be served by Google. Google's use of the DART cookie enables it to serve ads to Users based on their visit to our Site and other sites on the Internet. DART uses "non personally identifiable information" and does NOT track personal information about you, such as your name, email address, physical address, etc. You may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy at <a href="http://www.google.com/privacy_ads.html  ">http://www.google.com/privacy_ads.html  </a></p><br/>

<h3>Compliance with children's online privacy protection act  </h3>

<p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our Site from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.  </p><br/>

<h3>Changes to this privacy policy  </h3>

<p>ConfessBin has the discretion to update this privacy policy at any time. When we do, we will revise the updated date at the bottom of this page and send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.  Your acceptance of these terms  By using this Site, you signify your acceptance of this policy and terms of service. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.  </p><br/>

<h3>Contacting us  </h3>

<p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:  info@confessbin.com</p><br/>

<p>ConfessBin <br/>
<a href="http://confessbin.com">www.confessbin.com </a><br/>
#10, Cubic Business Centre, 7th Cross, Koramangala 3rd block, Bangalore - 560034 <br/>
+14156709239 <br/>
info@confessbin.com  </p><br/><br/><br/>


</div>